.Entry
{
    display: flex;
    align-items: center;
    background-color: #444a55;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
    width: 100%;
    height: 25%;
}
.Entry > img
{
    border-radius: 10px;
    margin: 10px;
    height: 100%;
}
.Entry-content > p
{
    font-size: 15px;
}