.Entry
{
    display: flex;
    align-items: center;
    background-color: #444a55;
    border-radius: 10px;
    height: 25%;
    margin-right: 10px;
    margin-left: 10px;
}
.Entry > img
{
    border-radius: 10px;
    margin: 10px;
    max-width: 40%;
}
.Entry-content > p
{
    font-size: 15px;
}